.app__footer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: var(--color-black);
  padding-top: 0;
}

.app__footer-links {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: flex-start;
}
.app__footer-links_contact,
.app__footer-links_logo,
.app__footer-links_working {
  flex: 1;
  margin: 1rem;
  text-align: center;
}
.app__footer-links h1 {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 41.6px;
  margin-bottom: 1rem;
}
.app__footer-links_contact p,
.app__footer-links_working p {
  color: var(--color-grey);
}
.app__footer-links_logo-social svg {
  margin-top: 0.5rem;
  margin: 0.5rem;
  font-size: 24px;
  cursor: pointer;
  color: var(--color-white);
}
.app__footer-links_logo-social svg:hover {
  color: var(--color-golden);
}
.app__footer_copyright p {
  color: var(--color-grey);
  margin-top: 3rem;
}
.app__footer-links_logo img:first-child {
  width: 210px;
  margin-bottom: 0.75rem;
}
.app__footer-links_working p:nth-child(2n + 1) {
  margin-bottom: 1rem;
}
@media screen and (min-width: 2000px) {
  .app__footer-links h1 {
    font-size: 51px;
    line-height: 61.6px;
  }
}
@media screen and (max-width: 1150px) {
  .app__footer-links {
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .app__footer-links_contact,
  .app__footer-links_logo,
  .app__footer-links_working {
    margin: 2rem 0;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .app__footer {
    padding: 0 0 2rem 0;
  }
}

@media screen and (max-width: 350px) {
  .app__footer-links_logo img:first-child {
    width: 80%;
  }
}
